
     {% extends 'layout.html' %}

     {% block body %} 
     
      

        <section id="about" class="core-value py-5">
          <div class="container py-md-4">
            <h1 class="heading mb-sm-5 mb-4 text-center"> ABOUT US</h1>
            <div class="row core-grids">
              <div class="col-lg-6 core-left">
                <img class="img-fluid" src="../static/assets/img/core.jpg" alt="" />
              </div>
              <div class="col-lg-6 core-right">
                <h3 class="mt-4">Improving Agriculture, Improving Lives, Cultivating Crops To Make Farmers Increase
                  Profit.</h3>
                <p class="mt-3">We use state-of-the-art machine learning and deep learning technologies to help you
                  guide through
                  the entire farming process. Make informed decisions to understand the demographics of your area,
                  understand the
                  factors that affect your crop and keep them healthy for a super awesome successful yield.</p>
              </div>
            </div>
          </div>
        </section>
        <!-- //core values -->
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">What we do</h2>
                    <h3 class="section-subheading text-muted">Our Services</h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/../static/assets/img/portfolio/crop.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Crop</div>
                                <div class="portfolio-caption-subheading text-muted">Predicting the crops</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/../static/assets/img/portfolio/fertilizer.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Fertilizer</div>
                                <div class="portfolio-caption-subheading text-muted">Suggesting the fertilizer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="../static/../static/assets/img/portfolio/disease.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Plant Disease</div>
                                <div class="portfolio-caption-subheading text-muted">Predicting the plant diseases</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                   
                </div>
            </div>
        </section>
        
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Name input-->
                                <input class="form-control" id="name" type="text" placeholder="Your Name *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <div class="form-group">
                                <!-- Email address input-->
                                <input class="form-control" id="email" type="email" placeholder="Your Email *" data-sb-validations="required,email" />
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <div class="form-group mb-md-0">
                                <!-- Phone number input-->
                                <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" data-sb-validations="required" />
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-textarea mb-md-0">
                                <!-- Message input-->
                                <textarea class="form-control" id="message" placeholder="Your Message *" data-sb-validations="required"></textarea>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center text-white mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="text-center"><button class="btn btn-warning btn-xl text-uppercase" id="submitButton" type="submit">Send Message</button></div>
                </form>
            </div>
        </section>
       
        <!-- Portfolio Modals-->
        <!-- Portfolio item 1 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Crop Prediction</h2>
                                    <p class="item-intro text-muted">Recommendation about the type of crops to be cultivated which is best suited
                                      for the respective conditions</p>
                                    <img class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/crop2.jpg" alt="..." />
                                    <p>In this application user have to enter the various parameters of the soil such as Nitrogen, Phosphorus, Pottassium and pH values of their soil in which they want to grow the crop. Along with these soil parameters user also have to enter the amount of rainfall in their area and ther city. In the backend we fetches the wheather information of user's area and on combining all these parameters we feeds them to our ML model which gaves us the predicted value of most suitable crop to grow in your farm.</p>
                                    <ul class="list-inline">
                                      <a href="/crop" class="btn btn-warning btn-lg" role="button" aria-pressed="true">Start Predicting</a>
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 2 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Fertilizer Recommendation</h2>
                                    <p class="item-intro text-muted">Get informed advice on fertilizer based on soil
                                    </p>
                                    <img class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/fertilizer3.jpg" alt="..." />
                                    <p>In this application, we have the dataset of various crop's Nitrogen, Phosphorus and Potassium value of their suitable soil. According to the data entered by the user and their choice of crop we predicts/suggests the most suitable fertilizer. </p>
                                    <a href="/fertilizer" class="btn btn-warning btn-lg" role="button" aria-pressed="true">Start Predicting</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio item 3 modal popup-->
        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-bs-dismiss="modal"><img src="../static/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="modal-body">
                                    <!-- Project details-->
                                    <h2 class="text-uppercase">Plant Disease Prediction</h2>
                                    <p class="item-intro text-muted">Find out which disease has been caught by your plant.</p>
                                    <img class="img-fluid d-block mx-auto" src="../static/assets/img/portfolio/disease1.jpg" alt="..." />
                                    <p>In this Application we uses Deep Learning model to predict the diseases cought by plant. User just have to upload the image of their dissease and our model predicts weather the plant is healthy or diseased. If diseased then which type of disease is it. We have of dataset of 38 categories of plants havit total mre than 80K images. Our model predicts the result withe prety good accuracy if relevant is provided. </p>
                                    <a href="/disease" class="btn btn-warning btn-lg" role="button" aria-pressed="true">Start Predicting</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     

        {% endblock %}